@tailwind base;
@tailwind components;
@tailwind utilities;

.image-resizer {
    display: inline-flex;
    position: relative;
    flex-grow: 0;
 }
.image-resizer .resize-trigger {
  position: absolute;
  right: -6px;
  bottom: -9px;
  opacity: 0;
  transition: opacity .3s ease;
  color: #3259a5;
}
.image-resizer:hover .resize-trigger {
  opacity: 1;
}


@layer utilities {
	.highlight-background-b {
		/* background: linear-gradient(120deg, #fec34a 0%, #fec34a 100%); */
		background-repeat: no-repeat;
		background-size: 100% 50%;
		background-position: 0 170%;
	}
}

@layer base {
  html {
    font-family: 'Work Sans', 'Open Sans', system-ui, sans-serif;
  }
}

@layer components {
	.tooltip {
		@apply absolute invisible;
	}

	.has-tooltip:hover .tooltip {
		@apply z-50 visible;
	}

	.text-h1 {
		@apply font-semibold text-6xl
	}

	.text-h2 {
		@apply font-semibold text-4xl
	}

	.text-h3 {
		@apply font-semibold text-3xl
	}

	.text-h4 {
		@apply font-semibold text-2xl
	}

	.text-h5 {
		@apply font-semibold text-xl
	}

	.text-h6 {
		@apply font-semibold text-lg
	}

	.text-s1 {
		@apply font-normal text-base md:text-4xl
	}

	.text-s2 {
		@apply font-semibold text-base
	}

	.text-s3 {
		@apply font-normal text-base
	}

	.text-sfill {
		@apply font-normal text-sm
	}

	.text-button {
		@apply font-semibold text-lg md:text-xl
	}

	.text-body {
		@apply font-normal text-base md:text-lg
	}

	.text-card-tags {
		@apply font-normal text-xs lg:text-sm
	}
}